{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beyond the Band</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>
<div class="container">
    <h1>Beyond the Band</h1>

    </br></br>

    <form method="GET" action="/search/">
        <input name='q' type="text"/>
        <button type="submit">Search</button>
    </form>

    <h7>Click links below to search our information library or help us update.</h7>

    </br></br>

    <h2>Artists</h2>
    <a href="/artist/" type="button"><input type="submit" value="Artists Page" class="button"></a>
    <a href="/artist_list/" type="button"><input type="submit" value="View All Artists" class="button"></a>


    </br></br></br>

    <h2>Bands</h2>
    <a href="/band/" type="button"><input type="submit" value="Bands Page" class="button"></a>
    <a href="/band_list/" type="button"><input type="submit" value="View All Bands" class="button"></a>


    </br></br></br>

    <h2>Albums</h2>
    <a href="/album/" type="button"><input type="submit" value="Albums Page" class="button"></a>
    <a href="/album_list/" type="button"><input type="submit" value="View All Albums" class="button"></a>
</div>

</body>
</html>
