<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beyond the Band</title>
</head>

<body>

    <h1>Beyond the Band</h1>

    <h2>Search</h2>
    <form method="GET" action="{{ search_bar }}">
        <input name='q' type="text"/>
        <button type="submit">Search</button>
    </form>

    <h2>Artist</h2>
    <form method="GET" action="{{ search_bar }}">
        <input name='q' type="text"/>
        <button type="submit">Search</button>
    </form>

    <h2>Band</h2>
    <form method="GET" action="{{ search_bar }}">
        <input name='q' type="text"/>
        <button type="submit">Search</button>
    </form>


</body>
</html>
