<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beyond the Band</title>
</head>

<body>

    <h1>Beyond the Band</h1>

    <h2>Search</h2>
    <form method="GET" action="{{ search_bar }}">
        <input name='q' type="text"/>
        <button type="submit">Search</button>
    </form>

    <h5>Click links below to search our information library or help us update.</h5>

    </br></br>

    <h2>Artists</h2>
    <a href="/artist/" type="button">Artists Page</a>

    </br></br></br>

    <h2>Bands</h2>
    <a href="/band/" type="button">Bands Page</a>

    </br></br></br>

    <h2>Albums</h2>
    <a href="/album/" type="button">Albums Page</a>

</body>
</html>
