{% extends "index.html" %}


{% block title %}Search Artist Projects{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row">
        <form id="searchform" action="{% url 'blog_search_list_view' %}" method="get" accept-charset="utf-8">
          <button class="searchbutton" type="submit">
            <i class="fa fa-search"></i>
          </button>
          <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
        </form>
    </div>
{% endblock %}



{% block title %}Search Band Musicians{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row">
        <form action="/bands/" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <label for="band_name">Band: </label>
            <input id="band_name" type="text" name="band_name" value="{{ band_name }}">
            <input type="submit" value="OK">
        </form>
    </div>
